@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

/* html shows buttonS, css button */
.button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
/* remove to create exception class instead of mass rule */
/* .no-bullets*/
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

a {
  text-decoration: none;
  color: inherit;
}
/* specific link types instead of uni
a:link {}, a:visited {}, a:hover {}, a:active {} */

.header {

}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 16px;
}

.footer {
  background-color: #eeeeee;
  /* STILL NEED CONTENT SPLIT */
}

.left-links {

}

.right-links {

}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.buttons {
  padding: 8px 16px;
}